body {
  font-family: system-ui, Arial, sans-serif;
  background: #d2d071;
  margin: 5px;
  color: #232629;
}

header, nav, footer {
  background: #ffffff;
  margin-bottom: 2px;
  margin-left: 20px;
  padding: 2px;

}

header {
  border-bottom: 1px solid #ffffff;
}

.logo{
  align-items: center;
}

/* CLASES */
.titulo {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(100, 100, 12);
  margin-top: 5px;
  margin-bottom: 5px;
}

.domic_y_comer{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(124, 109, 35);
  font-size: 30px;
  background: rgb(222, 190, 29);
  margin-top: 5px;
  margin-left: 1px;
}

.destacado {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(210, 208, 139);
}

.oscuro{
  background-color: rgb(199, 222, 87);
}

.claro{
  font-size: 20px;
}
/* CLASES */


h2{
  font-size: 30px;
  background: rgb(222, 190, 29);
  margin-top: 5px;
  margin-left: 10px;
}


p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,;
  background-color: cornsilk;
  font-size: 18px;
}

nav ul {
  text-decoration: underline;
  display: flex;
  gap: 30px;
  padding: 0%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

nav a {
  color: #807d1a;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  gap: 24px;
  max-width: 1000px;
  margin:  16px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
}

img {
  align-items: center;
}

article {
  flex: 2;
  
}

aside {
  flex: 1;
  align-items: flex-end;
  background: #f0f4f8;
  border-radius: 8px;
  padding: 16px;
}

footer {
  text-align: center;
  color: #888;
  font-size: 0.95rem;
}